flows (2).json
[
    {
        "id": "28b2b4e156f91ec2",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a79a438bacdcd69",
        "type": "inject",
        "z": "28b2b4e156f91ec2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1fd402145fa7c9e1",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "6cc5ed4b083e4216",
        "type": "mqtt in",
        "z": "28b2b4e156f91ec2",
        "name": "",
        "topic": "00-02-01-aa-53-bd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b32f67e0146565a2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 500,
        "wires": [
            [
                "81dbe0385af99a60",
                "3de09ba1abcd3d75"
            ]
        ]
    },
    {
        "id": "3de09ba1abcd3d75",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 1",
        "func": "// Parse input hvis det kommer som tekst\nlet input = msg.payload;\nif (typeof input === \"string\") {\n    try {\n        input = JSON.parse(input);\n    } catch (e) {\n        node.warn(\"Kunne ikke parse JSON\");\n        return null;\n    }\n}\n\n// Tjek struktur\nif (!input.data || !input.data.payload) {\n    node.warn(\"Ukendt datastruktur i msg.payload\");\n    return null;\n}\n\n// Hent eller opret heartbeat counter\nlet hb_count = flow.get(\"heartbeat_counter\") || 0;\nhb_count++;\nflow.set(\"heartbeat_counter\", hb_count);\n\n// Hjælpefunktioner\nfunction hexToBytes(hex) {\n    const bytes = [];\n    for (let i = 0; i < hex.length; i += 2) {\n        bytes.push(parseInt(hex.substr(i, 2), 16));\n    }\n    return bytes;\n}\n\nfunction bytesToUint16(high, low) {\n    return (high << 8) + low;\n}\n\n// Byg læsbart objekt\nlet readable = {\n    heartbeat: {\n        alive: true,\n        timestamp: new Date().toISOString(),\n        counter: hb_count\n    },\n    eventnummer: input.data.eventno,\n    adresse: input.adr,\n    kilder: []\n};\n\nconst payload = input.data.payload;\nfor (let key in payload) {\n    const item = payload[key];\n\n    if (item.code === 200 && typeof item.data === \"string\") {\n        const hex = item.data;\n        const bytes = hexToBytes(hex);\n\n        const kilde = {\n            sti: key,\n            værdi_hex: hex,\n            bytes: bytes,\n            timestamp: new Date().toISOString()\n        };\n\n        // Tryk (bytes 0–1)\n        if (bytes.length >= 2) {\n            kilde.tryk_raw = bytesToUint16(bytes[0], bytes[1]);\n            kilde.tryk_bar = kilde.tryk_raw / 100.0;\n        }\n\n        // Temperatur\n        if (bytes.length >= 4) {\n            if (/port\\[(1|2|4|6|8)\\]/.test(key)) {\n                kilde.temp_raw = bytesToUint16(bytes[2], bytes[3]);\n                kilde.temperatur_C = kilde.temp_raw / 10.0;\n            } else if (/port\\[(3|5|7)\\]/.test(key) && bytes.length >= 6) {\n                kilde.temp_raw = bytesToUint16(bytes[4], bytes[5]);\n                kilde.temperatur_C = kilde.temp_raw / 100.0;\n            }\n        }\n\n        readable.kilder.push(kilde);\n\n    } else {\n        readable.kilder.push({\n            sti: key,\n            fejl: item.code,\n            timestamp: new Date().toISOString()\n        });\n    }\n}\n\nmsg.payload = readable;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 500,
        "wires": [
            [
                "1fd402145fa7c9e1",
                "e8ca4a067533cb9a",
                "842f8a181d95c5c5"
            ]
        ]
    },
    {
        "id": "81dbe0385af99a60",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "b91c5ae531312886",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 460,
        "wires": []
    },
    {
        "id": "e8ca4a067533cb9a",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 2",
        "func": "let kilder = msg.payload.kilder;\nlet output = {};\nlet sensorIndex = 1;\n\nfor (let i = 0; i < kilder.length; i++) {\n    let kilde = kilder[i];\n\n    // Tjek at kilde ikke er null\n    if (kilde) {\n        // Tilføj trykdata som normalt\n        output[\"Sensor \" + sensorIndex] = kilde.tryk_bar !== undefined ? kilde.tryk_bar : 0;\n\n        // Hvis det er sensor 2 eller 4, tilføj ekstra temperaturfelt\n        if (sensorIndex === 2 || sensorIndex === 4) {\n            output[\"TSensor \" + sensorIndex] = kilde.temperatur_C !== undefined ? kilde.temperatur_C : 0;\n        }\n    } else {\n        // Hvis kilde er null, sæt default 0\n        output[\"Sensor \" + sensorIndex] = 0;\n        if (sensorIndex === 2 || sensorIndex === 4) {\n            output[\"TSensor \" + sensorIndex] = 0;\n        }\n    }\n\n    sensorIndex++;\n}\n\nmsg.payload = output;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 500,
        "wires": [
            [
                "b91c5ae531312886",
                "7abdf44ab0271b9c",
                "6ac265debd7f7462",
                "63a3da793e69aa38",
                "4ea2806e4d085308",
                "749461b05a22c8cd",
                "abb030631b1d212a",
                "ecfe2690cc0de176",
                "8801320da454780f",
                "c1a23d4f15b2010e",
                "3da71173767eb935",
                "94c1abba3cfebd75"
            ]
        ]
    },
    {
        "id": "7abdf44ab0271b9c",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 3",
        "func": "if (msg.payload && msg.payload[\"Sensor 1\"] !== undefined) {\n    msg.topic = \"Sensor 1\";\n    msg.payload = msg.payload[\"Sensor 1\"] || 0;  // Erstat null/undefined med 0\n    return msg;\n} else {\n    return null;  // Stop flowet, hvis sensoren ikke findes\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 20,
        "wires": [
            [
                "c6962984a8d1a259"
            ]
        ]
    },
    {
        "id": "6ac265debd7f7462",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 4",
        "func": "if (msg.payload && msg.payload[\"Sensor 2\"] !== undefined) {\n    msg.topic = \"Sensor 2\";\n    msg.payload = msg.payload[\"Sensor 2\"] || 0;  // Erstat null/undefined med 0\n    return msg;\n} else {\n    return null;  // Stop flowet, hvis sensoren ikke findes\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 80,
        "wires": [
            [
                "a8748c4eac1a1b93",
                "9f5953346b9d782d",
                "b5333c94cdf823c5"
            ]
        ]
    },
    {
        "id": "63a3da793e69aa38",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 5",
        "func": "// Sanity check: payload skal være et objekt\nif (typeof msg.payload !== \"object\" || msg.payload === null) {\n    node.status({fill:\"red\", shape:\"dot\", text:\"Payload ikke et objekt\"});\n    node.warn(\"Payload er ikke et objekt\");\n    return null;\n}\n\n// Sanity check: tjek om Sensor 3 findes som nøgle\nif (!msg.payload.hasOwnProperty(\"Sensor 3\")) {\n    node.status({fill:\"yellow\", shape:\"ring\", text:\"Sensor 3 mangler\"});\n    node.warn(\"Sensor 3 findes ikke i payload\");\n    return null;\n}\n\nlet value = msg.payload[\"Sensor 3\"];\n\n// Sanity check: hvis værdien er null/undefined\nif (value === null || value === undefined) {\n    node.status({fill:\"yellow\", shape:\"ring\", text:\"Sensor 3 null → 0\"});\n    node.warn(\"Sensor 3 er null/undefined – sætter til 0\");\n    value = 0;\n}\n\n// Sanity check: hvis værdien ikke er et tal\nif (typeof value !== \"number\") {\n    let converted = Number(value);\n\n    if (isNaN(converted)) {\n        node.status({fill:\"yellow\", shape:\"dot\", text:\"Sensor 3 NaN → 0\"});\n        node.warn(\"Sensor 3 kunne ikke konverteres til tal – sætter til 0\");\n        value = 0;\n    } else {\n        node.status({fill:\"green\", shape:\"dot\", text:\"Sensor 3 konverteret\"});\n        value = converted;\n    }\n} else {\n    // Hvis alt er OK og værdien allerede var et tal\n    node.status({fill:\"green\", shape:\"dot\", text:\"Sensor 3 OK\"});\n}\n\n// Sæt output\nmsg.topic = \"Sensor 3\";\nmsg.payload = value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 140,
        "wires": [
            [
                "4e67e9264b95efc3",
                "9f5953346b9d782d"
            ]
        ]
    },
    {
        "id": "4ea2806e4d085308",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 6",
        "func": "if (msg.payload && msg.payload[\"Sensor 4\"] !== undefined) {\n    msg.topic = \"Sensor 4\";\n    msg.payload = msg.payload[\"Sensor 4\"] || 0;  // Erstat null/undefined med 0\n    return msg;\n} else {\n    return null;  // Stop flowet, hvis sensoren ikke findes\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 200,
        "wires": [
            [
                "f6e75fedd5d64fe8",
                "9f5953346b9d782d"
            ]
        ]
    },
    {
        "id": "749461b05a22c8cd",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 7",
        "func": "if (msg.payload && msg.payload[\"Sensor 5\"] !== undefined) {\n    msg.topic = \"Sensor 5\";\n    msg.payload = msg.payload[\"Sensor 5\"] || 0;  // Erstat null/undefined med 0\n    return msg;\n} else {\n    return null;  // Stop flowet, hvis sensoren ikke findes\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 260,
        "wires": [
            [
                "934ce4d7a94051d5",
                "9f5953346b9d782d"
            ]
        ]
    },
    {
        "id": "abb030631b1d212a",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 8",
        "func": "if (msg.payload && msg.payload[\"Sensor 6\"] !== undefined) {\n    msg.topic = \"Sensor 6\";\n    msg.payload = msg.payload[\"Sensor 6\"] || 0;  // Erstat null/undefined med 0\n    return msg;\n} else {\n    return null;  // Stop flowet, hvis sensoren ikke findes\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 320,
        "wires": [
            [
                "1a4f63f8f3cba488"
            ]
        ]
    },
    {
        "id": "c6962984a8d1a259",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "ecfe2690cc0de176",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 9",
        "func": "if (msg.payload && msg.payload[\"Sensor 7\"] !== undefined) {\n    msg.topic = \"Sensor 7\";\n    msg.payload = msg.payload[\"Sensor 7\"] || 0;  // Erstat null/undefined med 0\n    return msg;\n} else {\n    return null;  // Stop flowet, hvis sensoren ikke findes\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 380,
        "wires": [
            [
                "b3902a5919f2aae3",
                "9f5953346b9d782d"
            ]
        ]
    },
    {
        "id": "8801320da454780f",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function ",
        "func": "if (msg.payload && msg.payload[\"Sensor 8\"] !== undefined) {\n    msg.topic = \"Sensor 8\";\n    msg.payload = msg.payload[\"Sensor 8\"] || 0;  // Erstat null/undefined med 0\n    return msg;\n} else {\n    return null;  // Stop flowet, hvis sensoren ikke findes\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 440,
        "wires": [
            [
                "47c99f42047ddec2"
            ]
        ]
    },
    {
        "id": "a8748c4eac1a1b93",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "1a4f63f8f3cba488",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 280,
        "wires": []
    },
    {
        "id": "934ce4d7a94051d5",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "f6e75fedd5d64fe8",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 200,
        "wires": []
    },
    {
        "id": "4e67e9264b95efc3",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 160,
        "wires": []
    },
    {
        "id": "47c99f42047ddec2",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 360,
        "wires": []
    },
    {
        "id": "b3902a5919f2aae3",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 320,
        "wires": []
    },
    {
        "id": "c1a23d4f15b2010e",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 10",
        "func": "if (msg.payload && msg.payload[\"Sensor 9\"] !== undefined) {\n    msg.topic = \"Sensor 9\";\n    msg.payload = msg.payload[\"Sensor 9\"] || 0;  // Erstat null/undefined med 0\n    return msg;\n} else {\n    return null;  // Stop flowet, hvis sensoren ikke findes\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 500,
        "wires": [
            [
                "7105b9d969947c5a",
                "9f5953346b9d782d"
            ]
        ]
    },
    {
        "id": "7105b9d969947c5a",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 400,
        "wires": []
    },
    {
        "id": "3da71173767eb935",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 11",
        "func": "// Tjek at TSensor 2 findes\nif (msg.payload && msg.payload[\"TSensor 2\"] !== undefined) {\n    // Sensoren er allerede et tal\n    msg.topic = \"TSensor 2\";\n    msg.payload = msg.payload[\"TSensor 2\"] || 0;  // erstat null/undefined med 0\n\n    return msg;\n} else {\n    // Stop flowet, send ikke noget videre\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 560,
        "wires": [
            [
                "3dc7fca5a8b7918d",
                "c74e9a4bcd624a05",
                "e085ae89353abee7",
                "b5333c94cdf823c5"
            ]
        ]
    },
    {
        "id": "3dc7fca5a8b7918d",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "94c1abba3cfebd75",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function ",
        "func": "// Tjek at TSensor 2 findes\nif (msg.payload && msg.payload[\"TSensor 4\"] !== undefined) {\n    // Sensoren er allerede et tal\n    msg.topic = \"TSensor 4\";\n    msg.payload = msg.payload[\"TSensor 4\"] || 0;  // erstat null/undefined med 0\n\n    return msg;\n} else {\n    // Stop flowet, send ikke noget videre\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 620,
        "wires": [
            [
                "3f827bdb8a46bc57",
                "c74e9a4bcd624a05",
                "bd563ab1355f29bf"
            ]
        ]
    },
    {
        "id": "3f827bdb8a46bc57",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 600,
        "wires": []
    },
    {
        "id": "c74e9a4bcd624a05",
        "type": "ui_chart",
        "z": "28b2b4e156f91ec2",
        "name": "",
        "group": "8ae5846df417db3d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatur, C",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9f5953346b9d782d",
        "type": "ui_chart",
        "z": "28b2b4e156f91ec2",
        "name": "",
        "group": "8ae5846df417db3d",
        "order": 1,
        "width": "6",
        "height": "7",
        "label": "Tryk (Bar)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1160,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e085ae89353abee7",
        "type": "ui_chart",
        "z": "28b2b4e156f91ec2",
        "name": "",
        "group": "8ae5846df417db3d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatur, S2 (C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "bd563ab1355f29bf",
        "type": "ui_chart",
        "z": "28b2b4e156f91ec2",
        "name": "",
        "group": "8ae5846df417db3d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatur, S4 (C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "60736b9555f34288",
        "type": "http request",
        "z": "28b2b4e156f91ec2",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "3fe5aadc120715fe",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 13",
        "func": "let data = msg.payload;\n\n// Din ThingSpeak Write API Key\nlet apiKey = \"SRJ1I9KE6V0U650P\";  // <-- Sæt din egen key\n\n// Hent værdier, erstat undefined med 0\nlet f1 = data.p1 || 0;\nlet f2 = data.t1 || 0;\nlet f3 = data.p2 || 0;\nlet f4 = data.p3 || 0;\nlet f5 = data.t2 || 0;\nlet f6 = data.p4 || 0;\nlet f7 = data.p5 || 0;\nlet f8 = data.p6 || 0;\n\n// Byg GET URL til ThingSpeak\nmsg.method = \"GET\";\nmsg.url = `https://api.thingspeak.com/update?api_key=${apiKey}`\n    + `&field1=${f1}&field2=${f2}&field3=${f3}&field4=${f4}`\n    + `&field5=${f5}&field6=${f6}&field7=${f7}&field8=${f8}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 820,
        "wires": [
            [
                "071ee82eab979657"
            ]
        ]
    },
    {
        "id": "b5333c94cdf823c5",
        "type": "join",
        "z": "28b2b4e156f91ec2",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 680,
        "wires": [
            [
                "730fd607f78e51ce"
            ]
        ]
    },
    {
        "id": "071ee82eab979657",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 740,
        "wires": []
    },
    {
        "id": "730fd607f78e51ce",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 680,
        "wires": []
    },
    {
        "id": "842f8a181d95c5c5",
        "type": "function",
        "z": "28b2b4e156f91ec2",
        "name": "function 12",
        "func": "let kilder = msg.payload.kilder;\nlet output = {};\nlet pIndex = 1;\nlet tIndex = 1;\n\n// Start fra 1 for at ignorere objekt 0\nfor (let i = 1; i < kilder.length; i++) {\n    let kilde = kilder[i];\n\n    // Hvis der findes tryk_bar, tilføj som p1, p2 osv.\n    if (kilde.tryk_bar !== undefined && kilde.tryk_bar !== null) {\n        output[\"p\" + pIndex] = kilde.tryk_bar;\n        pIndex++;\n    }\n\n    // Hvis der findes temperatur_C, tilføj som t1, t2 osv.\n    if (kilde.temperatur_C !== undefined && kilde.temperatur_C !== null) {\n        output[\"t\" + tIndex] = kilde.temperatur_C;\n        tIndex++;\n    }\n}\n\nmsg.payload = output;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 800,
        "wires": [
            [
                "df5d7ce572f76e81",
                "3fe5aadc120715fe"
            ]
        ]
    },
    {
        "id": "df5d7ce572f76e81",
        "type": "debug",
        "z": "28b2b4e156f91ec2",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 760,
        "wires": []
    },
    {
        "id": "b32f67e0146565a2",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "142.93.135.2",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8ae5846df417db3d",
        "type": "ui_group",
        "name": "Default",
        "tab": "a9fe328900702d2d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a9fe328900702d2d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]